/* .custome_cell{
    position: relative;    
}
.custome_cell::before{
    position: absolute;
    content: '';
    background-color: #22C55E;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
} */